* {
    margin: 0;
}

a {
    color: inherit;
}

.AllSocialLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #454545;
    color: ghostwhite;
    height: 60px;
}

.SocialLink {
    margin-right: 20px;
    text-decoration: none;
}